adal==1.2.4
-e git+https://github.com/Azure/azfilebackup.git@c2df682ce5c50249261864b3c969407f9825d765#egg=azfilebak
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage-blob==2.0.1
azure-storage-common==2.1.0
azure-storage-nspkg==3.1.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
enum34==1.1.10
futures==3.3.0
idna==2.9
ipaddress==1.0.23
isodate==0.6.0
msrest==0.6.16
msrestazure==0.6.3
oauthlib==3.1.0
pid==3.0.3
psutil==5.7.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
requests-oauthlib==1.3.0
six==1.15.0
typing==3.7.4.1
tzlocal==2.1
urllib3==1.25.9
